

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@media screen and (max-width: 1080px){
	.main>.flip
{
	width:100%;
	 height: 100%;
	 transition: transform 2s;
	transform-style: preserve-3d;
	position:relative;

	
	
}
   
   .main>.flip>.img
{
	 position: absolute;
     width: 100%;
     height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  

   
}
.main>.flip>.img>img
{
	width: 100%;
	height:50rem;
	
}
.main>.flip>.img>.box
{
	
	position: absolute;
	
	top:20%;
	left:15%;
}
.main>.flip>.img>.box>h1,p
{
	padding:0;
	text-align: center;
	color:white;

}
.main>.flip>.img>.box>h1
{
	font-size: 400%;
	margin-bottom: 2%;
}
.main>.flip>.img>.box>p
{
   font-size: 200%;
   margin-top: 0;
}
.main>.flip>.img>.box>button
{
   color:white;
   background:none;
   font-size: 200%;
   display: block;
   margin:auto;
   padding:1% 3%;

}
.main>.flip>.img>.box>button:hover
{
	cursor: pointer;
	opacity:0.7;
	transform: scale(1.25);
}

}
@media only screen and (max-width: 640px) and (min-width: 490px){

	.header>.right
{
	display:flex;
    
	margin-left:3.5%;
	width:100%;

}

}
@media only screen and (max-width: 750px) and (min-width: 640px){

	.header>.right
{
	display:flex;
    
	margin-left:6%;
	width:100%;

}
}
@media only screen and (max-width: 1080px) and (min-width: 750px){

	.header>.right
{
	display:flex;
    
	margin-left:8%;
	width:100%;

}
.main>.flip>.img>.box
{
	
	position: absolute;
	
	top:22%;
	left:21%;
}
}
@media only screen and (max-width: 490px){

  .header>.right
{
	display:flex;
    
	margin-left:0;
	width:50%;

}
.header>.right>h2
{
	font-size: 100%;
	font-family:  'Montserrat', sans-serif;
	font-weight: none;
	padding:1% 4%;
    
	z-index: 10;
	color:white;

}
}
@media only screen and (max-width: 490px) {
   

   .main>.flip>.other>.about>h1
{
	text-align: center;
	margin-bottom: 4%;
	padding-top: 4%;
	color: white;
	width: 100%;


}
.main>.flip>.other>.about>.me
{
	display:block;
}
.main>.flip>.other>.about>.me>.right
{
	
  width:90%;
  
	
}
.main>.flip>.other>.about>.me>.left>p
{
	margin-left: 1%;
	
	color: white;
	font-size: 100%;
}

.main>.flip>.other>.about>.me>.right>a
{
	 
	margin-left: 35%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	text-decoration: none;
	color:black;
	border:  1px solid white;
	padding:1%;
	font-size: 150%;
	position: absolute;

}
.main>.flip>.other>.about>.me>.right>a:hover
{
	transform: scale(1.1);
	opacity: 0.7;
	cursor: pointer;
}

.main>.flip>.other>.about>.me>.left>img
{
	width:50%;
	display: block;
	margin:auto;
	border-radius: 50%;

	
	
}

.main>.flip>.other>.about>.me>.right>.bar
{
	width: 100%;
	background-color:silver;
	margin:1%;
	
	height: 25px;
	

	

}
.main>.flip>.other>.about>.me>.right>.bar>.progress
{
	background-color: #1455EB;
	
	width:0;
	height:25px;
	color:white;
	font-weight: bold;
	text-align: left;
	

}
.main>.flip>.other>.about>.me>.right>.bar>.progress>p
{
	padding-top: 1%;
	padding-left: 15px;
	margin:0;
	text-align: left;

}


}


body
{
	margin:0;
	padding:0;
	font-family:  'Montserrat', sans-serif;
	/*font-family:'Muli', sans-serif;*/
	overflow-x: hidden;


}
.header
{
  width:100%;
 position: fixed;
 z-index: 68769;
 text-transform: uppercase;


}
@media only screen and (min-width: 1080px){
.header>.right
{
	display:flex;
    flex-direction: reverse;
	margin-left: 40%;
	width:100%;

}
}

@media only screen and (min-width:490px) {
.header>.right>h2
{
	font-family:  'Montserrat', sans-serif;
	font-weight: none;
	padding:1% 4%;
    font-size: 120%;
	z-index: 10;
	color:white;

}
.header>.right>h2:hover
{
	cursor: pointer;
	padding-bottom: 2%;
	border-bottom: 2px solid white;
	opacity: 0.8;

    
}
}
.main
{
	display:block;
	overflow: hidden;
	
	
	width:100%;

	height:42rem;
    perspective: 1000px;



}
.main>.flip
{
	width:100%;
	 height: 100%;
	 transition: transform 2s;
	transform-style: preserve-3d;
	position:relative;

	
	
}


@media only screen and (min-width: 1080px){

.main>.flip>.img
{
	 position: absolute;
     width: 100%;
     height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  

   
}
.main>.flip>.img>img
{
	width: 100%;
	max-width: 100%;
	height:100%;
}
.main>.flip>.img>.box
{
	
	position: absolute;
	
	top:35%;
	left:36%;
}
.main>.flip>.img>.box>h1,p
{
	padding:0;
	text-align: center;
	color:white;

}
.main>.flip>.img>.box>h1
{
	font-size: 400%;
	margin-bottom: 2%;
}
.main>.flip>.img>.box>p
{
   font-size: 200%;
   margin-top: 0;
}
.main>.flip>.img>.box>button
{
   color:white;
   background:none;
   font-size: 200%;
   display: block;
   margin:auto;
   padding:1% 3%;

}
.main>.flip>.img>.box>button:hover
{
	cursor: pointer;
	opacity:0.7;
	transform: scale(1.25);
}
}

.main>.flip>.other
{
	
	background-color: #f37121;
	background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
     

    
	
}
@media only screen and (min-width: 490px) {
.main>.flip>.other>.about>h1
{
	text-align: center;
	margin-bottom: 4%;
	padding-top: 4%;
	color: white;
	width: 100%;

}
.main>.flip>.other>.about>.me
{
	display:flex;
}
.main>.flip>.other>.about>.me>.left
{
	width:45%;
	
}
.main>.flip>.other>.about>.me>.left>p
{
	margin-left: 1%;
	
	color: white;
	font-size: 120%;
}

.main>.flip>.other>.about>.me>.right>a
{
	float: left; 
	margin-left: 2%;
	margin-top: 10%;
	text-decoration: none;
	color:black;
	border:  2px solid white;
	padding:2%;
	font-size: 200%;
}
.main>.flip>.other>.about>.me>.right>a:hover
{
	transform: scale(1.1);
	opacity: 0.7;
	cursor: pointer;
}

.main>.flip>.other>.about>.me>.left>img
{
	width:50%;
	display: block;
	margin:auto;
	border-radius: 50%;

	
	
}
.main>.flip>.other>.about>.me>.right
{
	width:45%;
	margin:auto;
}
.main>.flip>.other>.about>.me>.right>.bar
{
	width: 90%;
	background-color:silver;
	margin:1%;
	
	height: 30px;
	

	

}
.main>.flip>.other>.about>.me>.right>.bar>.progress
{
	background-color: #1455EB;
	
	width:0;
	height:30px;
	color:white;
	font-weight: bold;
	text-align: left;
	

}
.main>.flip>.other>.about>.me>.right>.bar>.progress>p
{
	padding-top: 1%;
	padding-left: 15px;
	margin:0;
	text-align: left;

}
}
.work,.footer
{
	display:none;
}
.work
{
	
	text-align: center;
	background-color: #7d5a5a;
	
	/*background-image: url("coding44.jpg")*/
}
.work>h1
{
	
	color:white;
	padding-top:3%;
	padding-bottom: 4%;
}
.work>.myProjects
{
	display: flex;
	flex-wrap: wrap;
	
	margin: 4%;

}
.work>.myProjects>.projBox
{
	padding:1%;
	background-image: url(coding7.jpg);
	margin-bottom: 2%;
	margin-right: 2.5%;
	margin-left: 3%;
	padding-right:3%;
	text-align: center;
	width:18rem;
	height:10rem;

	

	

}
.work>.myProjects>.projBox>a
{
	
	
	text-decoration: none;
    font-size: 150%;
	color:white;
}
.work>.myProjects>.projBox:hover
{
	transform: scale(1.25);
}
.footer
{
	background-color: black;
	color: white;
	padding:2%;

}
.footer>h1
{
	text-align: center;
}

.footer>.contact
{
	display:flex;

}


.footer>.contact>.r>.msg
{
 
  width:50%;
  text-decoration: none;
  margin-left: 40%;
  height:100%;
  padding:0 2%;

  
}
.footer>.contact>.r>.msg>textarea
{
	width:80%;
	line-height:4;
}


.footer>.contact>.l,.r
{
	width:50%;
}


.footer>.contact>.l>i
{
   margin-left: 2%;
   font-size:170%;  
   color: white;
   margin-top: 1%;
}

.footer>.f
{
	padding:0.5%;
}



 


.footer>.contact>.r>.msg>p
{
   font-family: Dancing Script, cursive;
   font-size:200%;
   margin-top:0;
   margin-bottom: 5%;
   padding-top: 0;
   color:white;
   text-decoration: none;
}

#btn
{
   padding-right:2%;
   padding-left:2%;
   padding:2%;
   background-color: red;
   color:white;
   border:none;
   font-size:100%;
   text-decoration: none;
}
#btn:hover
{
	opacity: 0.5;
}

#top
{
  
  color:red;
  font-size: 250%;
  padding:0;
  margin:2% 49%;
  display: block;

}
#top:hover
{
	transform: scale(1.1);
	cursor: pointer;
}


