body
{
	margin:0;
	font-family: calibri;
	  background-color: #f1f1f1;
}

.header
{
	padding:1%;
	
}

.header>a>i
{
	padding-left: 1%;
	font-size:150%;
}

.main
{
   background-color: #f1f1f1;
   display:flex;
}

.main>.left
{
  width:30%;
  padding:1%;
  
}
.main>.left>.leftbox1
{
	background-color: white;
	box-shadow: 2px 2px 2px 2px teal;
	border-radius: 20px 20px 20px 20px;
}
.main>.left>.leftbox1>.me
{
	
	padding:1%;
	box-shadow: 2px 2px 2px 2px teal;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
}
.main>.left>.leftbox1>.me>h2
{
	color: teal;
	padding-left:3%;
	
}
.main>.left>.leftbox1>.me>p
{
	padding:3%;
}

.main>.left>.leftbox1>i
{
	padding:3%;
	padding-right: 5%;
	color:teal;

}
.main>.left>.leftbox2
{
	background-color: white;
	box-shadow: 2px 2px 2px 2px teal;
	border-radius: 20px 20px 20px 20px;
	margin-top:2%;
	padding:2%;
}
.main>.left>.leftbox2>.h
{
	display:flex;
	color:teal;
	font-size:130%;
	padding:3%;
	text-align:center;
	font-weight:bold;
}
.main>.left>.leftbox2>.h>i
{
	padding-right: 3%;
	padding-top: 1.5%;
}
.main>.left>.leftbox2>.m
{
	padding:1%;
	padding-left:10%;
}
.main>.left>.leftbox2>.m>button
{
	border:0;
	outline:0;
}
.main>.left>.leftbox3
{
	background-color: white;
	box-shadow: 2px 2px 2px 2px teal;
	border-radius: 20px 20px 20px 20px;
	margin-top:2%;
	padding:2%;
}
.main>.left>.leftbox3>.h
{
	display:flex;
	color:teal;
	font-size:130%;
	padding:3%;
	text-align:center;
	font-weight:bold;
}
.main>.left>.leftbox3>.h>i
{
	padding-right: 3%;
	padding-top: 1.5%;
}
.main>.left>.leftbox3>.html
{
	background-color: teal;
	width:80%;
	border-radius: 20px 20px 20px 20px;
	line-height: 30px;
}
.main>.right
{
  width:70%;
  padding: 1%;
}
.main>.right>.rightbox1
{
	background-color: white;
	box-shadow: 2px 2px 2px 2px teal;
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 1%;
	padding:2%;
}

.main>.right>.rightbox1>.header
{
	display:flex;
}
.main>.right>.rightbox1>.header>.l
{
   width:5%;
   

}
.main>.right>.rightbox1>.header>.l>i
{
	color:teal;
	padding:2%;
	margin-top: 15%;

}

.main>.right>.rightbox1>.header>.r
{
  width:95%;
  color:teal;
 
  font-size:150%;
  font-weight:bold;

}

.main>.right>.rightbox1>.m
{
	padding:2%;
	padding-left:3%;
}
.main>.right>.rightbox1>.m>b
{
	padding-left:2%;
	font-size:120%;
}
.main>.right>.rightbox1>.m>i
{
	color:teal;
	padding:2%;
}
.main>.right>.rightbox1>.m>p
{
	padding-left:6%;
	padding-top:0;
	margin-top: 1%;
}


